<%= render 'layouts/navbar' %>
<div style="margin: 80px 2%;">
  <div class="row" >
   <div class="background: white; margin-top: 20px;">
    <div class="col-md-4">
      <%= link_to new_blog_post_path, remote: true, class: "btn btn-default" do %><span class="glyphicon glyphicon-plus"></span> New Blog Post <% end %>
      <hr>
      <div id="blog-post-form" style="display: none;"></div>
    </div>
    <div class="col-md-8">
      <div id="blog-posts-title">
        <h3 class="text-center"><span style=" padding: 8px;">All My Blog Posts</span></h3>
        <hr >
      </div>
      <div id="blog-posts">
        <%= render 'all_blog_posts' %>
      </div>
    </div>
  </div>
 </div>
</div>


<br>


